/* general */

body {
    background-color: #e7e7e7;
}

.strong {
    font-weight: bold;
}

.clear-margin {
    margin: 0px;
}

.page-footer {
    color: #999999;
}

i.circle-icon {
    border: 4px solid #000000;
    border-radius: 50%;
    display: inline-block;
    font-size: 1.1em;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
}
a.incognito, a.editable-click {
    color: #333333;
}

a.editable-click {
    color: #333333;
    border-bottom: dashed 1px #333333;
}


/* header */
.header-compact {
    display: inline-block;
    line-height: 20px;
}

/* cql field chooser */
/* .bigdrop .select2-container .select2-results {max-height: 200px;} */
.bigdrop .select2-results {max-height: 35em;}
/* .bigdrop .select2-choices {max-height: 150px; overflow-y: auto;} */



/* pager, pagination */
.pager-area {
    margin-bottom: 20px;
}
.pagination {
    margin: 0px;
}
.pagination a {
    color: black;
}


/* modal boxes */

/* http://www.revillwebdesign.com/change-the-height-width-and-position-of-a-modal-in-twitter-bootstrap/ */

#ops-pdf-modal .modal-body {
    max-height: 600px;
    height: 600px;
}
#ops-pdf-modal {
    width: 900px; /* SET THE WIDTH OF THE MODAL */
    margin: -50px 0 0 -450px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
}

/* clipboard modifier */
.btn-clipboard-modifier {
    min-width: 30em;
    min-height: 7em;
}



/* result entry */

.ops-collection-entry, .ops-collection-meta {
    position: relative;
    margin: 15px 0;
    padding: 0px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.ops-collection-meta:first-child {
    padding: 9px 15px;
    border-bottom: 0px;
}

.ops-collection-entry-heading {
    padding: 9px 15px;
    border-bottom: 0px;
    padding-bottom: 0px;
}

.ops-collection-entry-inner {
    display: block;
    padding: 9px 15px;
    border-top: 1px solid #e5e5e5;
}

.dl-horizontal-biblio {
    margin-bottom: 0px;
}
.dl-horizontal-biblio dt {
    width: 30px;
    text-align: left;
}
.dl-horizontal-biblio dd {
    margin-left: 40px;
}


dl.dl-horizontal-inline {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
@media (min-width: 768px) {
    .dl-horizontal-inline-container {
        position: relative;
        top: -1.4em;
    }
}

.dl-horizontal-inline dt {
    width: 40px;
    text-align: left;
}
.dl-horizontal-inline dd {
    margin-left: 50px;
}


/* carousel for drawings */
/* move control arrows to bottom of image */
.carousel-control {
    position: absolute;
    top: 95%;
}



/* https://github.com/alanphoon/jquery-keyword-highlight */
.highlight
{
    background-color:#FFFF66;
    color:#333;
    padding-top: 2px;
    padding-bottom: 2px;
}

.highlight-circle
{
    border:solid 1px #eee;
    border-radius:3px;
    padding:2px;
    background-color:#eee;
    color:#333;
    font-weight:600;
}

#project-chooser-list .dropdown-menu {
    width: 300px;
}

#project-chooser-actions button {
    margin-bottom: 1em;
}

.document-details.tab-content {
    overflow: visible;
}

.inid {
    font-weight: bold;
}


.document-actions .btn-group + .btn-group {
    margin-left: 0px;
}

#cql-history-chooser-container {
    width: 420px;
}

#basket {
    font-family: "Courier New";
}