include *.txt *.ini *.cfg *.rst
recursive-include patzilla/access/epo *.ico *.png *.css *.gif *.jpg *.svg *.pt *.txt *.mak *.mako *.html *.xml *.js *.map *.swf *.pem
exclude patzilla/access/epo/static/js/app/*.js
exclude patzilla/access/epo/static/js/app/**/*.js
exclude patzilla/access/epo/static/js/config.js
exclude patzilla/access/epo/static/js/issue-reporter.js
exclude patzilla/access/epo/templates/urlcleaner.js
prune patzilla/access/epo/static/js/components
prune patzilla/access/epo/static/js/ipsuite
recursive-include patzilla/util/render *.js
