include setup.cfg *.txt *.rst
recursive-include patzilla/navigator *.ico *.png *.css *.gif *.jpg *.svg *.pt *.txt *.mak *.mako *.html *.xml *.js *.map *.swf *.pem *.ini.tpl
recursive-include patzilla/navigator/static/assets *.*
recursive-include patzilla/util *.js
exclude patzilla/navigator/templates/urlcleaner.js
prune patzilla/navigator/static/js
prune patzilla/navigator/static/css
prune patzilla/navigator/static/widget
