<script type="text/x-underscore-template" id="basket-template">
    <%text>
        <form id="basket-form" name="basket-form" method="post" action="<%= ship_url %>">

            <!-- basket content -->
            <div class="row-fluid">
                <div class="span12">
                    <textarea class="span12" id="basket" name="<%= ship_param %>" rows="5" placeholder="Selection, match list"><%= numberlist %></textarea>
                </div>
            </div>

            <!-- basket controls -->
            <div class="row-fluid">

                <div class="span6">

                    <button id="basket-import-button"
                            role="button" class="btn btn-popover do-not-print"
                            data-toggle="popover" data-trigger="hover" data-placement="right"
                            data-content="Import numberlist from clipboard, url or filesystem"
                            >
                        Import
                    </button>

                </div>

                <div class="span6">

                    <!-- basket actions -->
                    <div class="btn-group btn-popover pull-right do-not-print"
                         data-toggle="popover" data-trigger="hover" data-placement="top"
                         data-content="Share selected documents"
                            >

                        <button class="btn" disabled="disabled">
                            <span class="basket-entry-count"></span>
                        </button>
                        <button
                                id="basket-submit-button"
                                type="submit" role="button" class="btn btn-popover"
                                data-toggle="popover" data-trigger="hover" data-placement="bottom"
                                data-content="Submit selected documents to origin or 3rd-party system"
                                >
                            <i class="icon-share"></i>
                            Submit
                        </button>
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-external-link"></i>
                            Share
                        </button>
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">

                            <li>
                                <!--
                                <button
                                        id="basket-submit-button"
                                        type="submit" role="button" class="btn btn-link btn-popover incognito pull-right"
                                        data-toggle="popover" data-trigger="hover" data-placement="bottom"
                                        data-content="Submit selected documents to origin or 3rd-party system"
                                        >
                                    <span class="incognito">
                                        <i class="icon-share"></i>
                                        Submit
                                    </span>

                                </button>
                                -->
                                <a id="share-numberlist-email" href="#">
                                    <i class="icon-align-justify icon-large"></i>
                                    &nbsp;
                                    Numberlist via Email
                                </a>
                                <a id="share-documents-transfer" href="#">
                                    <i class="icon-upload-alt icon-large"></i>
                                    &nbsp;
                                    Transfer collection of documents
                                </a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>

        </form>
    </%text>
</script>
