<script type="text/x-underscore-template" id="basket-template">
    <%text>
        <form id="basket-form" name="basket-form" method="post" action="<%= ship_url %>">

            <div class="row-fluid">
                <div class="span12">
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <textarea class="span12" id="basket" name="<%= ship_param %>" rows="5" placeholder="Selection, match list"><%= numberlist %></textarea>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <button
                        id="basket-submit-button"
                        type="submit" role="button" class="btn btn-popover pull-right"
                        data-toggle="popover" data-trigger="hover" data-placement="bottom"
                        data-content="Submit selected documents to origin or 3rd-party system"
                        >
                        <i class="icon-share"></i>
                        Submit
                    </button>
                </div>
            </div>

        </form>
    </%text>
</script>
