<script type="text/x-underscore-template" id="project-chooser-template">
<%text>
    <h4 style="display: inline">
        <sup>｢</sup>
        <a id="project-chooser-name" href="#" data-type="text" data-pk="1" data-title="Rename project"></a>
        <sub>｣</sub>
    </h4>

    <div id="project-chooser-list" class="btn-group">
        <button class="btn dropdown-toggle hidden" data-toggle="dropdown">
            <!-- dummy, makes caret narrower -->
        </button>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="span4 dropdown-menu">
        </ul>
    </div>
    <button
            id="project-delete-button"
            class="btn btn-popover"
            data-toggle="popover" data-trigger="hover" data-placement="bottom"
            data-content="Delete project"
            >
        <i class="icon-trash icon-large"></i>
    </button>
</%text>
</script>
