<script type="text/x-underscore-template" id="querybuilder-template">

    <div class="span12" id="querybuilder-area">

        <div class="row-fluid">

            <!-- data source chooser -->
            <div class="span12">
                <div id="datasource" class="btn-group pull-right" data-toggle="buttons-radio">
                    <button class="btn active" data-value="ops">
                        <img src="/static/img/icons/epo-logo-small.svg" width="20" height="20"/> EPO
                    </button>
                    <button class="btn" data-value="depatisnet">
                        <img src="/static/img/icons/dpma-logo-small.svg" width="24" height="24"/> DPMA
                    </button>
                    <button
                            class="btn btn-popover basket-review-button" data-value="review"
                            data-toggle="popover" data-trigger="hover" data-placement="bottom"
                            data-content="Review list of selected documents"
                            >
                        <i class="icon-pencil"></i> Review
                    </button>

                </div>
            </div>
        </div>

        <div class="row-fluid">

            <!-- query string -->
            <div class="span12">
                <textarea class="span12" id="query" name="query" placeholder="CQL expression" rows="5"></textarea>
            </div>

            <!--
            <div class="span1">

                <div id="cql-quick-operator" class="btn-group" data-toggle="buttons-radio">
                    <button class="btn-cql-boolean btn btn-mini active" type="button" data-value="OR">OR</button>
                    <button class="btn-cql-boolean btn btn-mini"        type="button" data-value="AND">AND</button>
                </div>

                <a class="btn-cql-field label label-success" data-value="num=">num=</a>
                <a class="btn-cql-field label label-info" data-value="txt=">txt=</a>
                <a class="btn-cql-field label label-important" data-value="cl=">cl=</a>

            </div>
            -->

        </div>

        <div class="row-fluid">

            <!-- send query to database -->
            <div class="span3">

                <div
                        class="btn-group btn-popover"
                        data-toggle="popover" data-trigger="hover" data-placement="right"
                        data-content="Send query to database"
                        >

                    <!-- activity indicator -->
                    <button type="submit" role="button" class="btn btn-query-perform">
                        <i class="idler icon-search"></i>
                        <i class="spinner icon-refresh icon-spin" style="display: none"></i>
                    </button>

                    <button type="submit" role="button" class="btn btn-query-perform">
                        Send query
                    </button>
                </div>

            </div>

            <!-- cql field symbol chooser -->
            <div class="span6">
                <div id="cql-field-chooser" name="cql-field-chooser" size="1"></div>
            </div>

            <!-- query permalink, history, content transformation and clearing -->
            <div class="span3">
                <div id="query-action" class="btn-group pull-right">

                    <!-- permalink -->
                    <a id="btn-query-permalink" href="#" target="_blank" role="button"
                       class="btn btn-popover"
                       data-toggle="popover" data-trigger="hover" data-placement="bottom"
                       data-content="Query permalink, with expiration time"
                            >
                        <i class="icon-external-link"></i>
                    </a>

                    <!-- history -->
                    <div id="cql-history-chooser" class="btn-group">

                        <button
                                id="btn-query-history"
                                class="btn dropdown-toggle" data-toggle="dropdown"
                                >
                            <i class="icon-time icon-large btn-popover"
                               data-toggle="popover" data-trigger="hover" data-placement="top"
                               data-content="Query history"
                                    ></i>
                        </button>

                        <div id="cql-history-chooser-container" class="dropdown-menu pull-right">
                            <div id="cql-history-chooser-select2" class="span12"></div>
                        </div>

                    </div>

                    <!-- content transformation -->
                    <button
                            id="btn-query-transform"
                            class="btn btn-popover"
                            data-toggle="popover" data-trigger="hover" data-placement="bottom"
                            data-content="Transform query"
                            >
                        <i class="icon-exchange icon-large"></i>
                    </button>

                    <!-- clear -->
                    <button
                            id="btn-query-clear"
                            class="btn btn-popover"
                            data-toggle="popover" data-trigger="hover" data-placement="bottom"
                            data-content="Clear query"
                            >
                        <i class="icon-trash icon-large"></i>
                    </button>
                </div>
            </div>

        </div>

    </div>

</script>
