<script type="text/x-underscore-template" id="template-comment-button">
    <a role="button" class="btn btn-popover"
        data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Edit comment"
        >
    <i class="icon-comment-alt icon-large"></i>
    </a>
</script>

<script type="text/x-underscore-template" id="template-comment-text">
    <div class="container-fluid hide area-comment-text">
        <div class="row-fluid">
            <div class="span12">
                <textarea class="span12" rows="8" placeholder="Enter a comment..."></textarea>
            </div>
        </div>
    </div>
</script>
