/* Text */

.monospace {
    font-family: Monaco, "Lucida Console", monospace;
}

.text-small {
    font-size: small;
}

.text-large {
    font-size: large;
}

.text-larger {
    font-size: larger;
}

.text-align-left {
    text-align: left;
}
.text-align-right {
    text-align: right;
}

.text-muted {
    color: #777777;
}

.full-width {
    width: 100%;
}

.icon-bars:before {
    content: "\f0c9";
}

pre.inline {
    display: inline-block;
}

.label-large {
    font-size: large;
    padding: 9px;
}

.title {
    font-size: 24.5px;
    line-height: 40px;
    font-weight: bold;
    text-rendering: optimizelegibility;
}


/* Buttons */
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-group-larger > .btn {
  padding: 8px 13px;
  font-size: 16px;
  line-height: 1.2;
}

.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
}


/* Alignment */

.vertical-align-middle {
    /* http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ */
    position: relative;
    top: 50%;
    transform: translateY(50%);
}

.align-middle {
    display: flex;
    align-items: center;
}


.align-center-middle {
  /* https://alligator.io/css/centering-using-flexbox/ */

  /* Flex, baby */
  display: flex;

  /* Vertical centering */
  align-items: center;

  /* Horizontal centering */
  justify-content: center;

  /* Make the container cover the full page height */
  height: 100vh;
}

.align-center {
  display: flex;
  justify-content: center;
}

.align-left {
  display: flex;
  justify-content: left;
}

.align-right {
  display: flex;
  justify-content: right;
}


/* Grid layout */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout */
.main-grid {
  display: grid;
  grid-template-columns: 1.7fr 2px 4fr;
}
.gutter {
    cursor: ew-resize;
}
.gutter.gutter-horizontal {
    float: left;
    background-color: darkgrey;
}


/* Sidebars */
#sidebar-left {

    overflow-x: hidden;

}
/* Header */
.header-container #menu-region {
    margin-right: 1.2em;
}
.menu-wide {
    align-self: flex-end;
}
.menu-wide .icon-bars {
    font-size: 2em;
}

.header-content {
    min-height: 5rem;
}

.header-content-left {
    display: flex !important;
}

.header-logo {
    font-size: 24.5px;
    line-height: 40px;
    font-weight: bold;
}

.header-compact {
    font-size: 24.5px;
    font-weight: bold;
    margin-top: 8px;
}


/* Footer */
.footer-container {
    margin-top: 50px
}
.page-footer,.page-footer a {
    color: #555555;
}



/* Export dialog */
#export-dialog .modal-body .row-fluid {
    margin-bottom: 2em;
}

.lead.inline {
    margin: inherit;
    vertical-align: middle;
}

.lead.section {
    margin: inherit;
}

.lead.footer {
    margin: inherit;
    line-height: 42px;
    vertical-align: middle;
}



/*
https://stackoverflow.com/questions/27058472/wkhtmltopdf-page-break-after-have-whitespace
https://stackoverflow.com/questions/27103312/wkhtmltopdf-does-not-respect-page-break-after
*/
/*
* {
    overflow: visible !important;
}
*/
.page-break-after {
    page-break-inside: avoid;
    page-break-after: always;
}

body {
    background-color: #e7e7e7;
}

.strong {
    font-weight: bold;
}

.clear-margin {
    margin: 0px;
}

i.circle-icon {
    border: 4px solid #000000;
    border-radius: 50%;
    display: inline-block;
    font-size: 1.1em;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
}
a.incognito, a.editable-click {
    color: #333333;
}

a.pointer {
    text-decoration: none;
    cursor: pointer;
}

a.editable-click {
    color: #333333;
    border-bottom: dashed 1px #333333;
}

.container-fluid.nopadding {
    padding: 0px;
}

.nomargin {
    margin: 0 !important;
}

.dropdown-menu a {
    cursor: pointer;
}

hr.no-margin {
    margin: inherit;
}

p.hero-smaller {
    font-size: 75%;
    line-height: 1.5em;
}


/* bootstrap modifiers */
.accordion-group.noborder {
    border: none;
}


/* more modifiers */
.inline-head {
    display: inline;
}

ul.breathe li {
    margin-bottom: 1em;
}


/*
 *
 * Query builder
 */
#querybuilder-area .row-fluid {
    margin-bottom: 1rem;
}

/* Query builder: Data source and flavor chooser */
.querybuilder-datasource-flavor-chooser {

    /* Flex, baby */
    display: flex;

    /*
     * Define the flow direction and allow wrapping.
     * This is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;

    /* Add some nice spacing between elements */
    justify-content: space-between;

    margin-bottom: 0.25rem;
}

/* Combine CSS Element Queries with CSS Flexbox to style
 * elements based on container size, not screen size. */
.querybuilder-datasource-flavor-chooser[max-width~="910px"] {
    flex-wrap: wrap-reverse;

}

.querybuilder-datasource-flavor-chooser * {
    margin-bottom: 1px;
}

/* Query builder: Data source chooser */
#datasource img[class=wider] { height/*\**/: 20px; width/*\**/: 30px; }
#datasource img[class=square] { height/*\**/: 20px; width/*\**/: 20px; }
#datasource button[class~=h-32] { height/*\**/: 32px; }


.query-actions div {
  margin: 0.15rem;
}

.start-search-buttons .btn {
    color: #333;
}

#querybuilder-nav {
    margin-bottom: 0px;
}
#querybuilder-nav li a {
    padding-bottom: 0px;
}

/* Query builder comfort form */
#querybuilder-comfort-form {
    padding-top: 5px;
}
.querybuilder-comfort-form-fieldset {

    /* Flex, baby */
    display: flex;

    /*
     * Define the flow direction and allow wrapping.
     * This is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;

}

/* When expanded, align to the beginning of its parent container */
.querybuilder-comfort-form-fieldset[min-width~="871px"] {
    justify-content: flex-start;
}

.querybuilder-comfort-form-fieldset[min-width~="871px"] .field-regular:nth-child(n+2) {
    margin-left: 1rem;
}

#querybuilder-comfort-form .input-xlarge {
    width: 250px;
}
#querybuilder-comfort-form .input-xlarge.smaller {
    width: 225px;
}

/* A little vertical spacing between elements */
#querybuilder-comfort-form * {
    margin-bottom: 1px;
}

#querybuilder-comfort-form .add-on.add-on-label {
    width: 8rem;
    margin-left: unset;
}
#querybuilder-comfort-form input::-webkit-input-placeholder {
    color: #DDDDDD;
}
#querybuilder-comfort-form input:-moz-placeholder {
    color: #DDDDDD;
}
#querybuilder-comfort-form input::-moz-placeholder {
    color: #DDDDDD;
}
#querybuilder-comfort-form input:-ms-input-placeholder {
    color: #DDDDDD;
}

/* Wrap querybuilder form fields more early */
@media (max-width: 1280px) {
    [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
        display: block;
        float: none;
        width: 100%;
        margin-left: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}


/* Dossier management */
#querybuilder-basket-area {
    margin-top: 1.2em;
}


/* Query expression history chooser */

#cql-history-chooser-container {
    width: 770px;
}

.history-dropdown .select2-result {
    min-height: 3.5em;
    border-bottom: 1px solid #a9a9a9;
}

.history-container {
    margin-top: 0.5em;
    padding-left: inherit;
    padding-right: inherit;
}

.history-row-1 {
    margin-bottom: 1em;
}

.history-entry-expression {
}

.history-entry-labels {
    text-align: right;
    vertical-align: top;
}

.history-entry-labels .label,.badge,.text {
    text-align: center;
    font-weight: normal;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.history-tag-datasource {
    width: 6em;
}
.history-tag-flavor {
    width: 6em;
}
.history-tag-hits {
    width: 5em;
}
.history-tag-narrow {
    width: 5.25em;
}
.history-tag-wide {
    width: 12em;
}
.history-tag-x-wide {
    width: 16em;
}



/* notification box */
.ns-box {
    font-size: 130% !important;
}
.ns-type-success {
    color: #468847 !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
}
.ns-type-error {
    color: #b94a48 !important;
    background-color: #f2dede !important;
    border-color: #eed3d7 !important;
}
.ns-type-warning {
    color: #ffffff !important;
    background-color: #f89406 !important;
    border-color: #c67605 !important;
}


/* iframe for upstream errors in html */
#error-iframe {
    width: 100%;
    height: 20em;
}


/* cql field chooser */
/* .bigdrop .select2-container .select2-results {max-height: 200px;} */
.bigdrop .select2-results {max-height: 35em;}
/* .bigdrop .select2-choices {max-height: 150px; overflow-y: auto;} */



/* pager, pagination */
.pager-area {
    margin-top: 10px;
    margin-bottom: 20px;
}

.pagination-chooser {
    display: flex;
    flex-flow: row wrap;
}

/* medium class for production purposes */
.medium.pagination {
    margin: 0px;
}
.medium.pagination a {
    height: 30px;
    width: 30px;
    font-size: 25px;
    line-height: 25px;
}
.medium.pagination input {
    width: 300px;
    height: 30px;
    font-size: 15px;
}


/* alert boxes */
.alert-inline {
    margin-bottom: inherit;
}

.user-alert {
    margin-bottom: 1em;
}


/* modal boxes */

.modal-not-rounded {
    border-radius: 0;
}

.modal-warning .modal-header {
    background-color: #f89406;
    color: black;
}

.modal-success .modal-header {
    background-color: #51a351;
    color: white;
}

.modal-info .modal-header {
    background-color: #3a87ad;
    color: white;
}


/* http://www.revillwebdesign.com/change-the-height-width-and-position-of-a-modal-in-twitter-bootstrap/ */

#ops-pdf-modal .modal-body {
    max-height: 600px;
    height: 600px;
}
#ops-pdf-modal {
    width: 900px; /* SET THE WIDTH OF THE MODAL */
    margin: -50px 0 0 -450px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
}

/* generalization of a large modal */
.modal-high .modal-body {
    max-height: 750px;
    height: 550px;
}
.modal-wide {
    width: 950px; /* SET THE WIDTH OF THE MODAL */
    margin: -50px 0 0 -500px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
}

.btn-symbol {
    padding: 0.6em;
    min-width: 5.5em;
}



/* clipboard modifier */
.btn-clipboard-modifier {
    min-width: 30em;
    min-height: 7em;
}

#keyword-editor {
    width: 800px;
    margin-left: -400px;
}



/* result entry */

img.pdf-svg[src*=svg] { height/*\**/: 18px; width/*\**/: 18px; }

.ops-collection-entry, .ops-collection-meta, .light-panel {
    position: relative;
    margin-bottom: 1.3rem;
    padding: 0px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.ops-collection-meta:first-child, .light-panel {
    padding: 9px 15px;
    border-bottom: 0px;
}

.ops-collection-entry-heading {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 3px solid #e5e5e5;
}

.ops-collection-entry-inner {
    display: block;
    padding: 9px 15px;
}
.dismiss {
    border-bottom: 3px solid #51a351;
}
.score1 {
    border-bottom: 3px solid #ffe303;
}
.score2 {
    border-bottom: 3px solid #f89406;
}
.score3 {
    border-bottom: 3px solid #bd362f;
}

.header-biblio {
    line-height: 2.2em;
    vertical-align: middle;
}


.dl-horizontal-biblio {
    margin-bottom: 0px;
}
.dl-horizontal-biblio dt {
    width: 30px;
    text-align: left;
}
.dl-horizontal-biblio dd {
    margin-left: 40px;
}


dl.dl-horizontal-inline {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
@media (min-width: 768px) {
    .dl-horizontal-inline-container {
        position: relative;
        top: -1.4em;
    }
}

.dl-horizontal-inline dt {
    width: 60px;
    text-align: left;
}
.dl-horizontal-inline dd {
    margin-left: 60px;
}

.label-document-missing {
    font-size: large;
    padding: 7px;
}




/* Carousel for drawings */

/* Align control arrows at bottom of image */
.carousel-control {
    position: absolute;
    top: 95%;
    margin-top: inherit;
}

/* Center drawings inside container */
.carousel-inner {
    text-align: center;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: inline-block;
}

.carousel-control.rotate {
    left: 50%;
    right: 50%;
    font-size: inherit;
    font-weight: inherit;
    line-height: 2.8em;
}
.carousel-control.rotate>i {
    margin-top2: 15px;
    vertical-align: middle;
}



/* https://github.com/alanphoon/jquery-keyword-highlight */
.highlight-base {
    padding: 2px;
}

.highlight .highlight-mouseover {
    display: none;
    background-color: white;
}

.highlight:hover .highlight-mouseover {
    display: inline-block;
    padding-left: 0.5em;
}

.highlight-circle {
    border:solid 1px #eee;
    border-radius:3px;
    padding:2px;
    background-color:#eee;
    color:#333;
    font-weight:600;
}

#project-chooser-list .dropdown-menu {
    width: 300px;
}

/*
#project-chooser-actions button {
    margin-bottom: 1em;
}
*/

.dropdown-section-header {
    margin-left: 10px;
    padding: 5px;
}

.document-details.tab-content {
    overflow: visible;
}

.inid {
    font-weight: bold;
}


.document-actions .btn-group + .btn-group {
    margin-left: 0px;
}


#basket {
    font-size: smaller;
}

#share-numberlist-clipboard {
    cursor: pointer;
}

.form-single-bibdata {
    display: inline;
}

.area-comment-text {
    padding: 10px;
}

/* permalink */
#permalink-uri-textinput {
    font-size: 8px;
    line-height: 8px;
    padding: 0px;
    margin: 0px;
}
#permalink-uri-textinput.uneditable-input {
    overflow: scroll;
    white-space: normal;
    height: auto;
}

/* login form */
.login-modal {
    z-index: 1050;
    position: fixed;
    top: 10%;
    left: 38%;
}
.login-box {
    max-width: 350px;
    padding-top: 9px;
    padding-left: 29px;
    padding-right: 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin-heading-logo {
    margin-bottom: 20px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}


/* Notification box slightly shifted to the right */
.ns-attached-custom {
    left: 110px;
    max-width: 300px;
}

/* Notification box on the right side */
.ns-attached-right {
    right: 30px;
    max-width: 300px;
}

/* Notification box for wide header */
.ns-attached-wide {
    left: 490px;
    max-width: 300px;
}


/* waypoint sticky */
/* TODO: for letting the drawing follow the text */
/*
.stuck {
    position: fixed;
    top: 0;
    z-index: 9999;
}
*/
