/* general */

.monospace {
    font-family: Monaco, "Lucida Console", monospace;
}

.text-small {
    font-size: small;
}

.text-large {
    font-size: large;
}

.text-larger {
    font-size: larger;
}

.text-align-left {
    text-align: left;
}
.text-align-right {
    text-align: right;
}

.text-muted {
    color: #777777;
}

.full-width {
    width: 100%;
}

.icon-bars:before {
    content: "\f0c9";
}

pre.inline {
    display: inline-block;;
}

.vertical-align-middle {
    /* http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ */
    position: relative;
    top: 50%;
    transform: translateY(50%);
}

/* export dialog */
#export-dialog .modal-body .row-fluid {
    margin-bottom: 2em;
}

.lead.inline {
    margin: inherit;
    vertical-align: middle;
}

.lead.section {
    margin: inherit;
}

.lead.footer {
    margin: inherit;
    line-height: 42px;
    vertical-align: middle;
}





/*
https://stackoverflow.com/questions/27058472/wkhtmltopdf-page-break-after-have-whitespace
https://stackoverflow.com/questions/27103312/wkhtmltopdf-does-not-respect-page-break-after
*/
/*
* {
    overflow: visible !important;
}
*/
.page-break-after {
    page-break-inside: avoid;
    page-break-after: always;
}

body {
    background-color: #e7e7e7;
}

.strong {
    font-weight: bold;
}

.clear-margin {
    margin: 0px;
}

i.circle-icon {
    border: 4px solid #000000;
    border-radius: 50%;
    display: inline-block;
    font-size: 1.1em;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
}
a.incognito, a.editable-click {
    color: #333333;
}

a.pointer {
    text-decoration: none;
    cursor: pointer;
}

a.editable-click {
    color: #333333;
    border-bottom: dashed 1px #333333;
}

.container-fluid.nopadding {
    padding: 0px;
}

.dropdown-menu a {
    cursor: pointer;
}

hr.no-margin {
    margin: inherit;
}

p.hero-smaller {
    font-size: 75%;
    line-height: 1.5em;
}


/* bootstrap modifiers */
.accordion-group.noborder {
    border: none;
}



/* header */
.label-large {
    font-size: large;
    padding: 9px;
}

.header-compact {
    font-size: 24.5px;
    font-weight: bold;
    margin-top: 8px;
}

/*
.header-container {
    background-size: 1170px;
    background-repeat: no-repeat;
    background-position: 50px;
}
*/
.header-container {
    min-height: 5em;
}

.header-container #ui-title,#ui-subtitle,#ui-statusline {
    margin-left: 25px;
}
.header-container #ui-statusline {
    margin-top: -15px;
}
.header-container #ui-productname {
    margin-right: 25px;
}

.header-container #menu-region {
    margin-right: 1.3em;
}

.footer-container {
    margin-top: 50px
}

.page-footer,.page-footer a {
    color: #555555;
}



.inline-head {
    display: inline;
}

ul.breathe li {
    margin-bottom: 1em;
}


/* query builder */

#datasource img[class=wider] { height/*\**/: 20px; width/*\**/: 30px; }
#datasource img[class=square] { height/*\**/: 20px; width/*\**/: 20px; }

#querybuilder-nav {
    margin-bottom: 0px;
}
#querybuilder-nav li a {
    padding-bottom: 0px;
}
#querybuilder-comfort-form {
    padding-top: 5px;
}
#querybuilder-comfort-form * {
    margin-bottom: 1px;
}
#querybuilder-comfort-form .add-on.add-on-label {
    width: 80px;
}
#querybuilder-comfort-form input::-webkit-input-placeholder {
    color: #DDDDDD;
}
#querybuilder-comfort-form input:-moz-placeholder {
    color: #DDDDDD;
}
#querybuilder-comfort-form input::-moz-placeholder {
    color: #DDDDDD;
}
#querybuilder-comfort-form input:-ms-input-placeholder {
    color: #DDDDDD;
}


/* Query expression history chooser */

#cql-history-chooser-container {
    width: 770px;
}

.history-dropdown .select2-result {
    min-height: 3.5em;
    border-bottom: 1px solid #a9a9a9;
}

.history-container {
    margin-top: 0.5em;
    padding-left: inherit;
    padding-right: inherit;
}

.history-row-1 {
    margin-bottom: 1em;
}

.history-entry-expression {
}

.history-entry-labels {
    text-align: right;
    vertical-align: top;
}

.history-entry-labels .label,.badge,.text {
    text-align: center;
    font-weight: normal;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.history-tag-datasource {
    width: 6em;
}
.history-tag-flavor {
    width: 6em;
}
.history-tag-hits {
    width: 5em;
}
.history-tag-narrow {
    width: 5.25em;
}
.history-tag-wide {
    width: 12em;
}
.history-tag-x-wide {
    width: 16em;
}



/* notification box */
.ns-box {
    font-size: 130%;
}
.ns-type-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.ns-type-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}
.ns-type-warning {
    color: #ffffff;
    background-color: #f89406;
    border-color: #c67605;
}


/* iframe for upstream errors in html */
#error-iframe {
    width: 100%;
    height: 20em;
}


/* cql field chooser */
/* .bigdrop .select2-container .select2-results {max-height: 200px;} */
.bigdrop .select2-results {max-height: 35em;}
/* .bigdrop .select2-choices {max-height: 150px; overflow-y: auto;} */



/* pager, pagination */
.pager-area {
    margin-top: 10px;
    margin-bottom: 20px;
}
.pagination {
    margin: 0px;
}
.pagination a {
    color: black;
}

/* medium class for production purposes */
.medium.jqpagination {
    /* margin: 10px 0; */
}
.medium.jqpagination a {
    height: 30px;
    width: 30px;
    font-size: 25px;
    line-height: 25px;
}
.medium.jqpagination input {
    width: 300px;
    height: 30px;
    font-size: 15px;
}


/* alert boxes */
.alert-inline {
    margin-bottom: inherit;
}

.user-alert {
    margin-bottom: 1em;
}


/* modal boxes */

.modal-not-rounded {
    border-radius: 0;
}

.modal-warning .modal-header {
    background-color: #f89406;
    color: black;
}

.modal-success .modal-header {
    background-color: #51a351;
    color: white;
}

.modal-info .modal-header {
    background-color: #3a87ad;
    color: white;
}


/* http://www.revillwebdesign.com/change-the-height-width-and-position-of-a-modal-in-twitter-bootstrap/ */

#ops-pdf-modal .modal-body {
    max-height: 600px;
    height: 600px;
}
#ops-pdf-modal {
    width: 900px; /* SET THE WIDTH OF THE MODAL */
    margin: -50px 0 0 -450px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
}

/* generalization of a large modal */
.modal-high .modal-body {
    max-height: 750px;
    height: 550px;
}
.modal-wide {
    width: 950px; /* SET THE WIDTH OF THE MODAL */
    margin: -50px 0 0 -500px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
}

.btn-symbol {
    padding: 0.6em;
    min-width: 5.5em;
}



/* clipboard modifier */
.btn-clipboard-modifier {
    min-width: 30em;
    min-height: 7em;
}

#keyword-editor {
    width: 800px;
    margin-left: -400px;
}



/* result entry */

img.pdf-svg[src*=svg] { height/*\**/: 18px; width/*\**/: 18px; }

.ops-collection-entry, .ops-collection-meta, .light-panel {
    position: relative;
    margin: 15px 0;
    padding: 0px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.ops-collection-meta:first-child, .light-panel {
    padding: 9px 15px;
    border-bottom: 0px;
}

.ops-collection-entry-heading {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 3px solid #e5e5e5;
}

.ops-collection-entry-inner {
    display: block;
    padding: 9px 15px;
}
.dismiss {
    border-bottom: 3px solid #51a351;
}
.score1 {
    border-bottom: 3px solid #ffe303;
}
.score2 {
    border-bottom: 3px solid #f89406;
}
.score3 {
    border-bottom: 3px solid #bd362f;
}

.header-biblio {
    line-height: 2.2em;
    vertical-align: middle;
}


.dl-horizontal-biblio {
    margin-bottom: 0px;
}
.dl-horizontal-biblio dt {
    width: 30px;
    text-align: left;
}
.dl-horizontal-biblio dd {
    margin-left: 40px;
}


dl.dl-horizontal-inline {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
@media (min-width: 768px) {
    .dl-horizontal-inline-container {
        position: relative;
        top: -1.4em;
    }
}

.dl-horizontal-inline dt {
    width: 60px;
    text-align: left;
}
.dl-horizontal-inline dd {
    margin-left: 60px;
}

.label-document-missing {
    font-size: large;
    padding: 7px;
}




/* Carousel for drawings */

/* Align control arrows at bottom of image */
.carousel-control {
    position: absolute;
    top: 95%;
    margin-top: inherit;
}

/* Center drawings inside container */
.carousel-inner {
    text-align: center;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: inline-block;
}

.carousel-control.rotate {
    left: 50%;
    right: 50%;
    font-size: inherit;
    font-weight: inherit;
    line-height: 2.8em;
}
.carousel-control.rotate>i {
    margin-top2: 15px;
    vertical-align: middle;
}



/* https://github.com/alanphoon/jquery-keyword-highlight */
.highlight-base {
    padding: 2px;
}

.highlight .highlight-mouseover {
    display: none;
    background-color: white;
}

.highlight:hover .highlight-mouseover {
    display: inline-block;
    padding-left: 0.5em;
}

.highlight-circle {
    border:solid 1px #eee;
    border-radius:3px;
    padding:2px;
    background-color:#eee;
    color:#333;
    font-weight:600;
}

#project-chooser-list .dropdown-menu {
    width: 300px;
}

/*
#project-chooser-actions button {
    margin-bottom: 1em;
}
*/

.dropdown-section-header {
    margin-left: 10px;
    padding: 5px;
}

.document-details.tab-content {
    overflow: visible;
}

.inid {
    font-weight: bold;
}


.document-actions .btn-group + .btn-group {
    margin-left: 0px;
}


#basket {
    font-size: smaller;
}

#share-numberlist-clipboard {
    cursor: pointer;
}

.form-single-bibdata {
    display: inline;
}

.area-comment-text {
    padding: 10px;
}

/* permalink */
#permalink-uri-textinput {
    font-size: 8px;
    line-height: 8px;
    padding: 0px;
    margin: 0px;
}
#permalink-uri-textinput.uneditable-input {
    overflow: scroll;
    white-space: normal;
    height: auto;
}

/* login form */
.login-modal {
    z-index: 1050;
    position: fixed;
    top: 10%;
    left: 38%;
}
.login-box {
    max-width: 350px;
    padding-top: 9px;
    padding-left: 29px;
    padding-right: 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin-heading-logo {
    margin-bottom: 20px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}


/* notification box on the right side */
.ns-attached-right {
    right: 30px;
    max-width: 300px;
}


/* waypoint sticky */
/* TODO: for letting the drawing follow the text */
/*
.stuck {
    position: fixed;
    top: 0;
    z-index: 9999;
}
*/
