/*
author:       L. Sauer 2011; lsauer.com
project:      KeyBoarder
description:  keyBoarder is a small, fast javascript library which dynamically replaces text-written keyboard-shortcuts for visually appealing, stylizable, navigatable shortcuts.
license:      MIT license
*/

/*
 Base class which all kb-classes should 'inherit':
  e.g.: <kbd class="kbKey kbKeyNested"> STRG+WIN+O </kbd>
  or by listing all your derived classes:
  e.g.: .kbKey,.kbKeyFancy, {...}
 */
.kbKey,
.kbKeyModern,
.kbKeyDark,
.kbKeylight,
.kbKeyFancy,
.kbKeySimple {
  display: inline-block;
  padding: .2em .3em;
  margin: 2px 3px 2px 3px;
  min-width: 1.3em;
  min-height: 1.4em;
  /*border*/
  border: 0.25em solid;
  border-top-width: 0.2em;
  border-left-width: 0.2em;
  border-color: #DDD #BBB #BBB #DDD;
  border-radius: .2em;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  /*text*/
  font: bold .9em "Lucida Grande", Lucida, Arial, sans-serif;
  /*font-family: inherit;*/
  color: #333;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  line-height: 1.5em;
  text-shadow: #a0a0a0 3px 3px 6px;
  /* prevents selection of the text */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  /*other*/
  background: #EEE;
  cursor: default;
}
/*
 Modern: Round, soft style with gradients, suitable for light, to grey backgrounds
 */
.kbKeyModern {
  color: #222;
  border-color: #DDD #BBB #BBB #DDD;
  margin: 2px 3px 2px 3px;
  min-width: 1.3em;
  min-height: 1.4em;
  border-radius: .3em;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  cursor: pointer;
  text-shadow: #a0a0a0 3px 3px 6px;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgb(231,231,233)),
      color-stop(1, rgb(166,166,172))
  );
  -webkit-box-shadow: 5px 4px 10px gray;
}
/*
Dark style for displaying keys on a white or light background
 */
.kbKeyDark {
  background-color: #aaa;
  padding: .2em .3em;
  font: bold .9em "Lucida Grande", Lucida, Arial, sans-serif;
  color: #fff;
  border-color: #666 #999 #999 #666;
  border-radius: .5em;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
}
/*
Fancy style: css-class to experiments with
 */
.kbKeyFancy{
  cursor:url(res/ico/bluescreen16.ico);
}
/*
Simple style: ideal for formal documents, with a lighter background
 */
.kbKeySimple {
  border: 0.1em solid;
  border-top-width: 0.2em;
  border-left-width: 0.2em;
  background: #EEE;
  padding: .2em .3em;
  font: bold .9em "Courier New", Courier, monospace;
  color: #222;
  text-align: center;
  white-space: nowrap;
  border-color: #DDD;
  line-height: 1.5em;
  margin: 2px 3px 2px 3px;
  min-width: 1.3em;
  min-height: 1.4em;
  border-radius: .4em;
  -moz-border-radius: .4em;
  -webkit-border-radius: .4em;
  text-shadow: none;
}
/*
Light style: css-class to experiments with
 */
/*@import: url(http://fonts.googleapis.com/css?family=Aldrich)*/
.kbKeyLight {
	padding:3px;
	text-align:center;
	font-family:"Aldrich", sans-serif;
  background: rgb(250, 250, 250);
  background: -moz-linear-gradient(
    top,
    rgb(210, 210, 210),
    rgb(255, 255, 255)
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(210, 210, 210)),
    to(rgb(255, 255, 255))
  );
  color:  rgb(60, 60, 60);
  -webkit-box-shadow:
    inset 0 0 1px rgb(255, 255, 255),
    inset 0 0 .4em rgb(200, 200, 200),
    0 .1em 0 rgb(130, 130, 130),
    0 .1em 0 rgba(0, 0, 0, .4),
    0 .1em .1em rgba(0, 0, 0, .9);
  box-shadow:
    inset 0 0 1px rgb(255, 255, 255),
    inset 0 0 .4em rgb(200, 200, 200),
    0 .1em 0 rgb(130, 130, 130),
    0 .1em 0 rgba(0, 0, 0, .4),
    0 .1em .1em rgba(0, 0, 0, .9);
    /*may become obsolete soon*/
  -moz-box-shadow:
    inset 0 0 1px rgb(255, 255, 255),
    inset 0 0 .3em rgb(200, 200, 200),
    0 .1em 0 rgb(130, 130, 130),
    0 .1em 0 rgba(0, 0, 0, .4),
    0 .1em .1em rgba(0, 0, 0, .9);
}
/** HOVER STYLES */
/*
 Default key-shortcut style during an onmouseover mouse event
 */
.kbKey:hover,
.kbKeyModern:hover,
.kbKeyDark:hover,
.kbKeylight:hover,
.kbKeySimple:hover,
.kbKeyFancy:hover,
.kbKeyHighlight {
  opacity: 0.7;
  -moz-transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  /*background: #fff;*/
  font-color: #999;
  /*border-color: #DDD #AAA #AAA #DDD;
  border-style: groove;
  */
  /* looks like a key press: */
  /*border-width: 0.1em 0.15em 0.15em 0.1em;*/
  -webkit-box-shadow: 5px 4px 10px #aaa;
}
.kbKeyModern:hover {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgb(180,180,180)),
      color-stop(1, rgb(116,116,112))
  );
}
/*
 Class for nesting of keys
 e.g.
    This is a text with a shortcut: <kbd class="kbKey kbKeyNested"> CTRL+WIN+P </kbd>
 */
.kbKeyNested {
	border-radius:.9em;
	padding: .6em .5em;
	background-color: #fff;
}
/*
 Default style applied when a key is focused by pressing the corresponding key of the shortcut
 */
.kbKeyHighlight {
  /*background: #333;
  font-color: #fff;
  border-color: #DDD #AAA #AAA #DDD;*/
}
/*
 Default style for the concatenation symbol: default is '+' e.g. CTRL+WIN+P
 */
.kbConcat {
	font-family:"Arial Black", Gadget, sans-serif;
	vertical-align:central;
	display:inline-block;
	text-align:center;
	border:1px solid #ccc;
	border-radius:4px;
	background-color:#999;
	color:#fff;
	line-height:.9em;
	width:1.2em
	height:1.2em;
	max-height:30px;
	max-height:30px;
	font-family: verdana;
	font-size: 1em;
	font-weight: bold;
}

.kbConcatBold {
	border:2px solid #777;
	line-height:.8em;
	min-height:20px;
	min-width:20px;
}
/*
	Concatenator in nested keys
*/
kbd > b.kbConcat {
	font-family:"Arial Black", Gadget, sans-serif;
	vertical-align:central;
	display:inline-block;
	text-align:center;
	border:1px solid #eee;
	border-radius:4px;
	background-color:#fff;
	color:#000;
	line-height:.9em;
	width:1.2em
	height:1.2em;
	max-height:30px;
	max-height:30px;
	font-family: verdana;
	font-size: 1em;
	font-weight: bold;
}
/*
  Default style for individual keys
  Any declared key can be additionally styled by setting a css class for the literal-key match,
  prefixed by 'kb'
  e.g. CTRL + C will be rendered with an overline above the CTRL-key
 */
/*
.kbCTRL {
  text-decoration:overline;
  font-weight:bold;
}
*/